
.App {
  text-align: center;
  
}
.Form-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#d9edf6;
  padding:2rem;
  border-radius:8px;
  border: solid 2px #6666665e;
}
.form-box{
  background-color: #00af918f;
  padding:4rem;
  margin: 0 3rem 3rem 3rem;
  border-radius:8px;
  border: solid 2px #6666665e;
}
.navbar {
  padding: 2rem;
  width: 100%;
  background:#f58634;
  box-shadow:  0 0 3px #ebff00, 0 0 19px #0606ff;
}

.footer{
  padding: 2rem;
  background:#f58634;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow:  0 0 3px #ebff00, 0 0 19px #0000FF;

}

.home-form {
  margin-top:3rem;
}

.option{
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 2rem;
}

img {
  width: 500px;
}

.red {
  color:red;
}
.details {
  display:flex;
  justify-content:space-evenly;
  align-items: baseline;
  margin-top: 1em;
  background: #ffcc29;
  border-radius: 8px;
}

.ant-statistic-content {
  color:red!important;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  img{
    width: 300px;
  }
  .Form-form {
    display: block;
  }
  .form-box {
    padding:0;
  }
  .ant-btn-round.ant-btn-lg {
    margin-top:1em!important;
  }
  .ant-card-head-title {
    font-size: 16px!important;
  }
  h2 {
    font-size: 16px;
  }
  .ant-statistic-content{
    font-size: 16px!important;
  }
  .details{
    padding: 1em;
    display: block;
    font-size: 15px;
    background: none;
  }
  .footer {
    padding: 1rem;
  }
  .navbar {
    padding:1rem;
  }
  .option{
    margin-top:0.75rem;
  }
  .onlymob{
    background: #ffcc29;
    border-radius: 8px;
    width: 100%;
  }
  h3{
    margin-top: 0.2em
  }

}